{% extends 'base.html.twig' %}

{% block title %}Reserver l'annonce {{ ad.title }}{% endblock %}

{% block body %}
    <div class="container">
        <h3>Reservation pour l'annonce {{ ad.title }}</h3>
    </div>
{% endblock %}
